/* CSS Document */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#FFFFFF;
    -webkit-font-smoothing: antialiased;
    width: auto;
    height: auto;
    /* overflow-x: hidden; */
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}
 h2, h3, h4, h5, h6{
    
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #8a8a8a;
}
input {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important; 
   }

   input:focus {
    border:0;
    padding: 0;
    margin: 0;
  }

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*Сontainer
=======================*/
.container {
    width: 100%;
   padding-left: 80px;
   padding-right: 80px;
   padding-bottom: 20px;
   padding-top: 5px;
    margin: 0 auto;}

/*Header
=======================*/
.header {
    width: 100%;
    background-color:#1e1f35;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items:baseline;
    flex-wrap: wrap;
}
.finder_box {
    width: 20%;
    height: 20px;
    align-items:baseline;
    background-color:#333333;
}

/*Nav
====================*/
.nav {
    display: flex;
        font-size: 15px;
    text-transform: uppercase;
    
}
.nav_h1 {
    padding-left: 10px;
    color:#ffffff;
    opacity: .85;
    
    
}
.nav__link {
    margin-left: 50px;
    color:#fff;
    opacity: .65;
    text-decoration: none;
    transition: opacity .2s
    linear;
}
.nav__link:first-child {
    margin: 0;
}
.nav__link:hover{
    text-decoration:underline;
    opacity: 1;
}

/*tabs
==========*/
.tabs {
    width: 100%;
    position: absolute;
    margin-top: 78px;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 78px;
}
.tabs__nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #000000;
    align-items: center;
    margin:0;
}
.tabs__nav-btn {
    padding: 10px;
    flex: 1 1 0;
    text-align: center;
    text-decoration: none;
    background-color: #dbdbdb;
    border-left: 2px solid #7d7d7d;
    transition: background-color .1s linear;
}
.tabs__nav-btn:hover {
    background-color: #bfbfbf;
}
.tabs__nav-btn.active {
    background-color: #fecd57;
}

/*intro
=================*/

.colorpickerHolder {
    
     position: absolute;

}
.intro {
    display:flex;
    width: 100%;
     }
/* .intro_1 {
    
    /* height: 500px; 
    padding-top:20px;
    overflow-x:hidden; 
   } */
.intro_1.active {

    width: 100%;
    height: 700px; 
    padding-top:20px;
    overflow-x:hidden;
}

.color {
    display: flex;

    width: 100%;
    overflow: auto;
    resize: vertical;
    background-color: var(--primary-color);
    
    
}
.color.active {
    border: 3px solid #ffffff;
}

#color1 {
    background-color: hsl(144, 80%, 20%);
    height: 30%;
}

#color2 {
    background-color: hsl(100, 50%, 80%);
    height: 35%;
    resize: none;
    
    
}
#color3 {
    background-color:  hsl(144, 8%, 50%);
    height: 35%;
  
}
  
:root {
   
    --primary-color-h: 60;
    --primary-color-s: 50%;
    --primary-color-l: 50%;
    --primary-color: hsl(var(—primary-color-h), var(--primary-color-s), var(--primary-color-l));
    
    /* lighten */
    --primary-color--light: hsl(var(--primary-color-h),  calc(var(--primary-color-s) + 3%), var(--primary-color-l) );
  
    /* darken */ 
    --primary-color--dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 25%));
}

#color4 {
    background-color: var(--primary-color--light);
    height: 35%;
    
}






