/* CSS Document */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#FFFFFF;
    -webkit-font-smoothing: antialiased;
    width: auto;
    height: auto;
    overflow-x: hidden;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}
 h2, h3, h4, h5, h6{
    
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #8a8a8a;
}
input {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important; 
   }

   input:focus {
    border:0;
    padding: 0;
    margin: 0;
  }

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*Сontainer
=======================*/
.container {
    width: 100%;
   padding-left: 80px;
   padding-right: 80px;
   padding-bottom: 20px;
   padding-top: 5px;
    margin: 0 auto;}

/*Header
=======================*/
.header {
    width: 100%;
    background-color:#1e1f35;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items:baseline;
    flex-wrap: wrap;
}
.finder_box {
    width: 20%;
    height: 20px;
    align-items:baseline;
    background-color:#333333;
}

/*Nav
====================*/
.nav {
    display: flex;
        font-size: 15px;
    text-transform: uppercase;
    
}
.nav_h1 {
    padding-left: 10px;
    color:#ffffff;
    opacity: .85;
    
    
}
.nav__link {
    margin-left: 50px;
    color:#fff;
    opacity: .65;
    text-decoration: none;
    transition: opacity .2s
    linear;
}
.nav__link:first-child {
    margin: 0;
}
.nav__link:hover{
    text-decoration:underline;
    opacity: 1;
}

/*tabs
==========*/
.tabs {
    width: 100%;
    position: absolute;
    margin-top: 78px;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 78px;
}
.tabs__nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #000000;
    align-items: center;
    margin:0;
}
.tabs__nav-btn {
    padding: 10px;
    flex: 1 1 0;
    text-align: center;
    text-decoration: none;
    background-color: #dbdbdb;
    border-left: 2px solid #7d7d7d;
    transition: background-color .1s linear;
}
.tabs__nav-btn:hover {
    background-color: #bfbfbf;
}
.tabs__nav-btn.active {
    background-color: #fecd57;
}

/*intro
=================*/
.boxColorPick {
   width: 10px;
   height: 10px;
    position: absolute;
    z-index: 900;
    background-color:#d1d1d1;
    opacity: 1;
}
.intro {
    display: inline-flex;
    width: 100%;
    margin-top: 0px;
	height:700px ;
    position: relative;
}

.intro_1 {
    padding-top:20px;
    display:inline-flex;
}
.intro_1.active {
    padding-top:20px;
    width: 100%;
    height: 500px;
}
.contextMenu {
    position: absolute;
    z-index: 200;
    display: none;
    width: 200px;
    height: 200px;
    background-color:#d1d1d1;

}
.context {
    height: 200px;
    background-color:#8a8a8a;

}
.color {
    /* background-color: #8c8df8; */
    width: 100%;
    height: 500px;
}
#color1 {
    width: 100%;
    height: 500px;
    background-color: #8c8df8;
}

#color2 {
    width: 100%;
    height: 500px;
    background-color: #ffa385;
}
.color3 {
    background-color: #8a0700;
    width: 100%;
    height: 100%;
}
.color4 {
    background-color: #003d47;
    width: 100%;
    height: 100%;
}
    /*intro2
=============*/
.intro_2 {
    display: none;
    margin: 0;
    width:50%;
    position: absolute;
    top:0;
    right:0;
    z-index: 1;

}

/*Column
====================*/
.column_conteiner {
    margin-top: 175px;
    height: 994px;
    width: 100%;
    justify-content: space-between;
    overflow-y: scroll;

}

.column_items {
    width: 2500px;
    height: 100%;
    display: flex;
    margin-bottom: 21px;

}
.column1 {
    width: 300px;
    background: rgba(150, 255, 255, .25);
}
.column2 {

    width: 300px;
        background: rgba(255, 100, 255, .25);
}
.column3 {

    width: 300px;

    background: rgba(255, 190, 255, .25);
}
.column4 {

    width: 300px;
    background: rgba(255, 255, 200, .25);
}
.over1 {
    height: 52.7%;
}
.over2 {
    height: 9.2%;
}
.over3 {
    height: 4.8%;
}
.over4 {
    height: 33.3%;
}




.over1:hover{
    border: 7px solid #000000;
}
.over2:hover{
    border: 7px solid #000000;
}
.over3:hover{
    border: 7px solid #000000;
}
.over4:hover{
    border: 7px solid #000000;
}


